[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-ollama = "*"
langchain-community = "*"
bs4 = "*"
setuptools = "*"
pypdf = "*"
langchain-chroma = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
