[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
langchain = "*"
langchain-aws = "*"
langchain-community = "*"
boto3 = "*"
pinecone = "*"
langchain-pinecone = "*"
uvicorn = "*"
fastapi = {extras = ["standard"], version = "*"}
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
